
<!DOCTYPE html>
<html>
     <head>
      <meta charset="utf-8">
         <title>
             Login
         </title>
         {% load bootstrap4 %}
         {% bootstrap_css %}
     </head>
     <body  style="text-align: center">
      <br>
      <br>
      <br>
      <form method="POST" action="">
         {% csrf_token%}
         <div>
            <div class ="mx-auto border border-primary" style="width: 300px;">
              <br>
              <img class="mb-4 rounded-circle" width="175" height="175" src="https://s3-us-west-2.amazonaws.com/devcodepro/media/blog/que-es-javascript.jpg"><br>
              <br>
              <br>
              <br>
              <div  class="form-label-group">
                <input type="text"  class=" form-control ds-input border border-dark"  name="user" placeholder="Usuario" required><br><br>
                <input type="password"  class="form-control ds-input border border-dark"  name="password" placeholder="Contraseña" required><br><br>             
                <button type="submit" class="btn btn-success">INICIAR</button><br>
                </div>
               <br>
               <br>
               <a  href="{% url 'Landing:Landing'%}">
                  <button type="button" class="btn btn-primary">ir al Landing</button>   
               </a> <br>
               {% if error %}
                  <h1> {{error}} </h1> 
               {%endif%}
          </div>
         </div>     
       </form>
        {% bootstrap_javascript jquery='full' %}
     </body>
     
</html>
